:host {
  overflow: auto;
  display: flex;
  min-height: auto !important;
  height: calc(100% - 100px);
  align-self: baseline;
  flex-direction: column;
}

header {
  background: #f1f1f1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 1rem;
  width: calc(100% - 2rem);
  z-index: 1;
}

header > mat-icon {
  width: 20px;
  cursor: pointer;
}

header > .avatar {
  margin: 0 10px;
}

header > section {
  display: flex;
  flex-direction: column;
  color: var(--black)
}

.name {
  color: var(--blue-dark)
}

mat-card {
  height: 100%;
  max-height: calc(100% - 55px);
  overflow-y: auto;
  padding: 20px 10px;
  padding-bottom: 50px;
}

.actions {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
  background: #EFF2F5;
  color: #A4A6A8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  flex-wrap: wrap;
  padding: 0 20px;
  box-sizing: border-box;
}

.actions > button {
  max-width: 30px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions > button > mat-icon {
  height: 14px;
}

.actions > mat-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: .7;
}

mat-form-field {
  min-width: 165px;
  color: var(--black);
  flex-grow: 1;
}

.avatar {
  width: 30px;
  height: 30px;
  min-width: 30px;
  object-fit: cover;
  border-radius: 50%;
  background-size: cover;
  background-image: url('/assets/img/user.svg');
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  position: relative;
}

.message > p {
  background: #E9E9E9;
  padding: 10px;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  border-radius: 8px;
  word-break: break-word;
  font-size: 14px;
  font-family: ProximaNova-Regular;
}

.message > p > button {
  font-size: 10px;
  padding: 7px 10px;
}

.message.owner {
  flex-direction: row-reverse;
}

.message.owner > p {
  background: rgb(0, 68, 103);
  background: linear-gradient(176deg, rgb(0, 68, 103) 0%, rgb(0, 109, 129) 100%);;
  color: white;
  margin-right: 5px;
  border-top-right-radius: 0;
}

.message:not(.owner) > p {
  margin-left: 5px;
  border-top-left-radius: 0;
}

.message.owner > .status {
  left: 0;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #babdbf;
  border-radius: 5px;
  color: gray;
  font-size: 10px;
}

.event .title {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 1rem;
}

.status {
  position: absolute;
  bottom: -12px;
  font-size: 10px;
  color: gray;
}

.load-more {
  color: gray;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  font-size: 10px;
}

.actions > section {
  position: relative;
  top: -7px;
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.clip {
  position: relative;
}

.clip > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block;
  z-index: 1;
}

p > img {
  max-height: 250px;
  max-width: 100%;
  object-fit: cover;
}

.deal {
  padding: 10px 15px;
  border: 1px solid lightgray;
  border-radius: 7px;
  margin-bottom: 1rem;
  font-size: 12px;
}

.deal > .title {
  font-weight: 500
}

.deal > ul {
  list-style: none;
  padding: 0;
}

.deal > section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

button {
  flex: 0 1 auto;
  margin: 2px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0;
  display: block;
  text-align: center;
  padding: 7px 10px;
  white-space: pre;
}

.title {
  color: var(--blue-dark);
  font-weight: 500;
}

.event-msg {
  flex: 0 0 100%;
  text-align: center;
}
