<header *ngIf="!loading">
  <mat-icon svgIcon="back" routerLink="/chats"></mat-icon>
  <img src="{{assetOwner.photo}}" class="avatar">
  <section>
    <span class="name">{{assetOwner.firstname.value + ' ' + assetOwner.lastname.value}}</span>
    <span>{{asset.title}}</span>
  </section>
</header>
<mat-card id="chat-container" *ngIf="!loading" [style.opacity]="cancelled ? 0.7 : 1">
  <div class="deal">
    <span class="title">DEAL PROPOSAL</span>
    <ul>
      <li>
        <span class="title">Asset:</span>
        &nbsp;
        <span>{{asset.title}}</span>
      </li>
      <li>
        <span class="title">From:</span>
        &nbsp;
        <span>{{from}}</span>
      </li>
      <li>
        <span class="title">Until:</span>
        &nbsp;
        <span>{{until}}</span>
      </li>
      <li>
        <span class="title">Price:</span>
        &nbsp;
        <span>{{asset.price}} W</span>
      </li>
    </ul>
    <section *ngIf="assetOwner.address != user.address && !deal && !declined && !canceled">
      <span class="event-msg">Now you have to wait until {{assetOwner.firstname.value}} signs the deal</span>
    </section>
    <section *ngIf="assetOwner.address == user.address && !deal && !declined && !canceled">
      <button orange (click)="createDeal()">Accept</button>
      <button (click)="decline()">Decline deal</button>
    </section>
    <section *ngIf="declined">
      <span class="event-msg">Deal declined</span>
    </section>
    <section *ngIf="cancelled">
      <span class="event-msg">Deal cancelled</span>
    </section>
  </div>
  <a (click)="loadMessages()" *ngIf="messages.length < total" class="load-more">load more</a>
  <div style="position: relative" *ngFor="let msg of messages">
    <div *ngIf="!msg.event" class="message" [class.owner]="msg.owner == user.address">
      <img src="{{msg.owner == user.address ? user.photo : companion.photo}}" class="avatar">
      <p>
        {{msg.text}}
        <img src="{{this.configService.config.api}}/api/media/{{msg.media.hash}}" *ngIf="msg.media && msg.media.hash">
      </p>
    </div>

    <div *ngIf="msg.event == 'deal_accepted' && !deal.signedByB && !cancelled" [class.message]="msg.owner != user.address">
      <img src="{{msg.owner == user.address ? user.photo : companion.photo}}" *ngIf="msg.owner != user.address" class="avatar">
      <p *ngIf="msg.owner != user.address">
        <button orange [disabled]="tokenBalance <= 0 || !this.deal || !this.deal.eth_address || deal.signedByB" (click)="acceptDeal()">Accept and Pay</button>
        <button (click)="cancelDeal()">Cancel</button>
        <span class="event-msg" *ngIf="tokenBalance <= 0">You have not WONO</span>
        <span class="event-msg" *ngIf="deal.signedByB">Deal already accepted</span>
      </p>
      <p class="event" *ngIf="msg.owner == user.address">
        <span class="title">Deal Accepted</span>
        <span>Awaiting payment</span>
      </p>
    </div>

    <div *ngIf="msg.event == 'deal_created'">
      <p class="event">
        <span class="title">Congratulations</span>
        <span>Deal created</span>
      </p>
    </div>

    <div *ngIf="msg.event == 'deal_declined'">
      <p class="event">
        <span class="title">Deal Declined</span>
        <span>{{assetOwner.firstname.value}} declined your request.</span>
      </p>
    </div>

    <div *ngIf="msg.event == 'deal_cancelled'">
      <p class="event">
        <span class="title">Deal Cancelled</span>
      </p>
    </div>

    <span class="status" *ngIf="msg.owner == user.address && !msg.event">
      {{ msg.readed ? 'Read' : 'Unread' }}
    </span>
  </div>
</mat-card>
<form class="actions" (submit)="send(msgText)" autocomplete="off" *ngIf="!loading">
  <mat-form-field>
    <input type="text" [disabled]="cancelled" #msgText matInput [placeholder]="cancelled ? 'Deal Canceled' : 'Say something...'" [disabled]="loading">
  </mat-form-field>
  <button circle orange [disabled]="!msgText.value">
    <mat-icon svgIcon="arrow"></mat-icon>
  </button>
  <section>
    <button orange class="clip">
      + ADD IMAGE
      <input type="file" [disabled]="cancelled" (change)="uploadFile($event.target.files)">
    </button>
    <button blue disabled>Propose Deal</button>
  </section>
</form>
<h2 *ngIf="loading">{{status}}</h2>
