:host {
  flex-direction: column;
  display: flex;
  align-items: center;
}

h2 {
  color: var(--blue-dark);
}

button {
  margin-top: 2rem;
}

mat-icon {
  height: 200px;
  width: 100px;
  margin: 0 40px;
}

span {
  word-break: break-word;
}
