:host {

}
.filterWindow {
  position: absolute;
  flex-direction: column;
  display: flex;
  background: #f1f1f1;
  z-index: 5;
  top: 0;
  height: calc(100% - 40px - 12px);
  overflow: hidden;
  padding-left: 40px;
  padding-top: 40px;
  overflow-y: scroll;
  width: calc(100% - 40px);
}
.filterWindowFreelancers {
  padding-left: 40px;
  width: 100vw;
  max-width: calc(100% - 40px);
  min-width: calc(100% - 40px);
}
.useFilter{
  color: rgba(0,0,0,.87);
}
.selectHandle{
  width: 135px;
  height: 44px;
  overflow: hidden;
}
.selectHandle .title{
  position: absolute;
}
.selectCategorySections{
  margin-top: -9px;
}
.selectCategorySections{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}
.categoryChipsBtn{
  font-size: 9px;
  display: inline-block;
  margin: 0 0 1.5em 0;
  text-transform: initial;
}
::ng-deep .categorySelect .mat-select-value{
  color: rgba(0,0,0,0);
}
::ng-deep .selectCategorySections .mat-form-field-appearance-legacy .mat-form-field-underline{
  display: none;
}
.categoryChipsBtn:after {
  content: "×";
  padding-left: 1em;
  font-size: 1.1em;
}
.moreFilters{
  text-decoration: underline;
  padding-top: 0.6em;
}

mat-icon {
  cursor: pointer;
}

mat-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  overflow: hidden;
}

mat-card section {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #003B61;
  font-weight: 500;
  margin-right: 10px;
}

button {
  margin: 20px auto;
}
.mat-profcat .mat-select-value-text {
    padding: 0.35em 0.45em 0.35em 0.8em;
    background-color: #eaeaea;
    color: gray;
    border-radius: 5px;
    display: inline-block;
}
.mat-profcat .mat-select-value-text:after {
    content: "×";
    padding-left: 0.4em;
    font-size: 1.1em;
}
mat-card section.skills-section {
  margin-top: 0;
}

.skills-margin {
  margin: 0 0.3em 0.5em 0;
  width: calc(50% - 1em);
}
@media screen and (max-device-width: 310px){
.skills-margin{
    min-width: 106px;
    font-size: 0.68em;
}
}
@media screen and (min-width: 311px) and (max-width: 320px) {
.skills-margin {
  min-width: 114px;
  font-size: 0.7em;
}
}
@media screen and (min-width: 321px) and (max-width: 400px) {
.skills-margin {
  min-width: 118px;
  font-size: 0.8em;
}
}
@media screen and (min-device-width: 400px) {
.skills-margin {
  min-width: 145px;
  font-size: 1em;
}
}
@media only screen and (min-width: 600px){
.skills-margin {
  min-width: 106px;
  font-size: 0.68em;
}
}