<div class="{{filter.category != 4 ? 'filterWindow' : 'filterWindowFreelancers'}}">
<page-header title="{{filter.category != 4 ? 'Filter' : 'Freelancers'}}">
  <mat-icon *ngIf="filter.category != 4" svgIcon="close" (click)="closeFilters()"></mat-icon>
</page-header>
<form [formGroup]="forms[filter.category]">
  <mat-card *ngIf="filter.category != 4">
    <span class="title">Price</span>
    <nouislider [config]="priceConfig" formControlName="price"></nouislider>
  </mat-card>

  <div *ngFor='let field of fields[filter.category]'>
    <mat-card *ngIf="field.type === 'input'">
      <span class="title">{{field.placeholder}}</span>
      <mat-form-field>
        <input type="{{field.input_type || 'text'}}"
              matInput
              [formControlName]="field.name"
              placeholder="{{field.placeholder}}">
      </mat-form-field>
    </mat-card>
    <mat-card *ngIf="(field.type === 'list' || field.type === 'double_list') && filter.category != 4">
      <span class="title">{{field.placeholder}}</span>
      <mat-form-field>
        <mat-select   placeholder="{{field.placeholder}}"
                      [formControlName]="field.name"
                      multiple="true">
          <mat-option *ngFor="let _value of field.values" [value]="_value">{{_value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
    <div *ngIf="filter.category == 4">
      
      <div *ngIf="field.type === 'list' || field.type === 'double_list'">
        <div class="useFilter">Use filter to search:</div>
        <section class="selectCategorySections">
          <mat-form-field class="selectHandle">
            <span class="title">Choose category</span>
            <mat-select #chooseCategorySelect
                        class="categorySelect"
                        panelClass="mat-profcat"
                        [formControlName]="field.name"
                        [multiple]="field.multiple">
              <mat-option *ngFor="let _value of field.values" [value]="_value">{{_value}}</mat-option>
            </mat-select>
          </mat-form-field>
          <span *ngIf="forms[filter.category].controls['title'].value != ''" (click)="showMoreFilters = !showMoreFilters" class="moreFilters">{{ !showMoreFilters ? 'More' : 'Hide' }} filters</span>
        </section>
        <section>
          <button blue *ngIf="forms[filter.category].controls['title'].value != ''" (click)="chooseCategorySelect.open()" class="categoryChipsBtn">{{forms[filter.category].controls['title'].value}}</button>
        </section>
      </div>
        <!-- <span *ngIf="editing" class="title">{{asset?.title}}</span> -->
        <!-- <mat-form-field *ngIf="!editing">
        <mat-select  panelClass="mat-profcat"
                      [formControlName]="field.name"
                      [multiple]="field.multiple">
          <mat-option *ngFor="let _value of field.values" [value]="_value">{{_value}}</mat-option>
        </mat-select>
      </mat-form-field> -->
      <div *ngIf="field.type == 'groupOfCheckbox' && forms[filter.category].controls['title'].value == field.name">
        <mat-card *ngIf="showMoreFilters" style="padding-right: 5px;">
          <span class="title">{{field.placeholder}}</span>
          <br>
          <section class="skills-section">
            <div [formArrayName]="field.name" *ngFor="let _value of field.values; let i = index" class="skills-margin">
              <mat-checkbox color="primary" [formControlName]="i">{{_value.label}}</mat-checkbox>
            </div>
            <mat-error *ngIf="forms[filter.category].controls[field.name].invalid">You must select up to 5 skills</mat-error>
          </section>
          <section>
            <span class="title">Choose freelancer's location</span>
            <mat-form-field floatLabel="never">
              <input matInput
                    placeholder="Type location"
                    formControlName="location">
            </mat-form-field>
          </section>
          <button orange (click)="applyFilters(forms[filter.category])"> Search </button>
        </mat-card>
        <button  *ngIf="!showMoreFilters" orange (click)="applyFilters(forms[filter.category])"> Search </button>
      </div>
      
    </div>

    <mat-card *ngIf="field.type === 'number'" class="horizontal">
      <span class="title">{{field.placeholder}}</span>
      <wono-counter [formControlName]="field.name" [max]="field.max" [min]="field.min"></wono-counter>
    </mat-card>

    <mat-card *ngIf="field.type === 'range'">
      <span class="title">{{field.placeholder}}</span>
      <mat-slider
        color="primary"
        [max]="field.max"
        [min]="field.min"
        [step]="1"
        thumbLabel="true"
        [tickInterval]="tickInterval"
        [formControlName]="field.name">
      </mat-slider>
    </mat-card>

    <mat-card *ngIf="field.type === 'checkbox'">
      <mat-checkbox color="primary"
                    [formControlName]="field.name">{{field.placeholder}}</mat-checkbox>
    </mat-card>
  </div>

  <button *ngIf="filter.category != 4" orange (click)="applyFilters(forms[filter.category])">Apply</button>
</form>
</div>
<page-header *ngIf="!loading && filter.category == 4" title="Search results" style="margin-left: 40px;">
</page-header>
