<h2>Confirm Transaction</h2>
<section>Balance: {{balance}} ETH</section>
<form  #form="ngForm" (submit)="confirm(pass, gasAmount)">
  <mat-form-field>
    <input matInput placeholder="Gas amount" type="number" required [(ngModel)]="gasAmount" name="gasAmount">
    <span matSuffix>Gwei</span>
    <mat-error>Gas is incorrect</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input  matInput
            placeholder="Password"
            required
            type="password"
            [(ngModel)]="pass"
            name="pass"
            minlength="6"
            maxlength="32">
    <mat-error>Password is incorrect</mat-error>
  </mat-form-field>
  <button orange [disabled]="form.invalid">Continue</button>
  <span class="error" *ngIf="invalid">{{invalid}}</span>
</form>
