form {
  overflow: auto;
  max-height: calc(100% - 50px);
}

mat-card {
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  overflow: hidden;
}

mat-card section {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.title {
  color: #003B61;
}

.horizontal {
  margin-bottom: 10px;
}

.category {
  position: relative;
  margin: .6em;
  overflow: hidden;
}

.category > label {
  user-select: none;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 5px;
  color: #95989A;
  cursor: pointer;
  width: 7em;
  height: 7em;
}

.category mat-icon {
  height: 3em;
  margin-bottom: 1em;
}

.strip {
  position: absolute;
  font-size: 7px;
  letter-spacing: 0.5px;
  padding: 2px;
  background: linear-gradient(135deg, #fe8e0f 0%, #ff3f1e 100%);;
  color: white;
  transform: rotateZ(45deg);
  width: 40px;
  text-align: center;
  right: -10px;
  top: 5px;
  text-transform: uppercase;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: #003B61;
  font-weight: bold;
}

mat-form-field {
  margin-right: 10px;
}

.photo {
  padding: 1em;
  border: solid 1px;
  border-radius: 5px;
  cursor: pointer;
}

.checkbox {
  flex: 1 0 100%;
  margin: 5px;
}

.checkbox label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox div {
  width: 20px;
  height: 20px;
  display: block;
  border: 1px solid;
  border-radius: 7px;
  color: #95989A;
  margin-right: 10px;
}

.checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  display: block;
  left: 5px;
  top: 5px;
  background: #003B61;
  border-radius: 4px;
}

.price mat-form-field {
  max-width: 40%;
}

.actions {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.actions button:not([orange]) {
  background: #95989A;
  color: white;
}

sat-calendar {
  width: auto !important;
}

.photoInput {
  position: relative;
  display: block;
  align-self: baseline;
  margin-bottom: 20px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-radius: 5px;
  overflow: hidden;
  color: var(--black)
}

.photoInput > input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.range {
  display: flex;
  flex-direction: column;
}

.range > span {
  font-size: 10px;
  color: #9f9f9f;
}

mat-checkbox {
  margin-top: 1em;
}

.mat-profcat .mat-select-value-text {
    padding: 0.35em 0.45em 0.35em 0.8em;
    background-color: #eaeaea;
    color: gray;
    border-radius: 5px;
    display: inline-block;
}
.mat-profcat .mat-select-value-text:after {
    content: "×";
    padding-left: 0.4em;
    font-size: 1.1em;
}
mat-card section.skills-section {
  margin-top: 0;
}

.skills-margin {
  margin: 0 0.3em 0.5em 0;
  width: calc(50% - 1em);
  min-width: 145px;
}
@media screen and (max-device-width: 310px){
.skills-margin{
    min-width: 106px;
    font-size: 0.68em;
}
}
@media screen and (min-width: 311px) and (max-width: 320px) {
.skills-margin {
  min-width: 114px;
  font-size: 0.7em;
}
}
@media screen and (min-width: 321px) and (max-width: 400px) {
.skills-margin {
  min-width: 118px;
  font-size: 0.8em;
}
}
@media screen and (min-device-width: 400px) {
.skills-margin {
  min-width: 145px;
  font-size: 1em;
}
}
@media only screen and (min-width: 600px){
.skills-margin {
  min-width: 106px;
  font-size: 0.68em;
}
}

