<page-header *ngIf="!loading" [title]="(editing ? 'Edit' : 'New') + ' Asset'">
  <button style="font-size: 10px" (click)="deleteAsset()" *ngIf="editing && category == 4">Delete</button>
</page-header>
<h2 *ngIf="loading">{{ status }}</h2>
<mat-card *ngIf="!loading && !editing">
  <span class="title">Choose category</span>
  <section>
    <div class="category">
      <input type="radio" id="category_1" name="category"/>
      <label for="category_1" (click)="category = 1">
        <mat-icon svgIcon="house"></mat-icon>
        <span>Apartments</span>
      </label>
    </div>
    <div class="category">
      <input type="radio" id="category_2" name="category"/>
      <label for="category_2" (click)="category = 2">
        <mat-icon svgIcon="car"></mat-icon>
        <span>Vehicles</span>
      </label>
    </div>
    <div class="category">
      <span class="strip">Soon</span>
      <label disabled for="category_3">
        <mat-icon svgIcon="pack"></mat-icon>
        <span>Jobs</span>
      </label>
    </div>
    <div class="category">
      <input type="radio" id="category_4" name="category"/>
      <label for="category_4" (click)="category = 4">
        <mat-icon svgIcon="job"></mat-icon>
        <span>Resume</span>
      </label>
    </div>
  </section>
</mat-card>

<form [formGroup]="forms[category]" *ngIf="category && !loading">

  <mat-card *ngIf="category == 1">
    <span class="title">Title</span>
    <br>
    <mat-form-field>
      <input matInput
            required
            placeholder="Title"
            formControlName="title">
    </mat-form-field>
  </mat-card>

  <mat-card *ngIf="category != 4">
    <span class="title">Add photo</span>
    <br>
    <section>
      <div class="photoInput">
        <mat-icon svgIcon="photo"></mat-icon>
        <input type="file" (change)="readFile($event)">
        <img src="{{imageSrc}}" *ngIf="imageSrc">
        <img src="{{imageUrl}}" *ngIf="editing && imageUrl && !imageSrc">
      </div>
    </section>
  </mat-card>

  <mat-card  *ngIf="category != 4">
    <span class="title">Description</span>
    <br>
    <mat-form-field>
      <textarea matInput
            required
            formControlName="desc" rows="5"></textarea>
    </mat-form-field>
  </mat-card>

  <div *ngIf="category == 4">
    <mat-card>
      <span class="title">Professional summary</span>
       <br>
        <mat-form-field>
          <textarea matInput
                    required
                    placeholder="Summary"
                    formControlName="desc" rows="2"></textarea>
        </mat-form-field>
    </mat-card>
    <div *ngFor='let field of fields[category]'>
      <mat-card *ngIf="field.type === 'list' || field.type === 'double_list'">
        <span class="title">Professional category</span>
        <br>
        <span *ngIf="editing" class="title">{{asset?.title}}</span>
        <mat-form-field *ngIf="!editing">
        <mat-select  panelClass="mat-profcat"
                     placeholder="{{field.placeholder}}"
                      [formControlName]="field.name"
                      [multiple]="field.multiple">'list'
          <mat-option *ngFor="let _value of field.values" [value]="_value">{{_value}}</mat-option>
        </mat-select>
      </mat-form-field>
      </mat-card>
      <mat-card *ngIf="field.type == 'groupOfCheckbox' && (forms[category].controls['title'].value == field.name || asset?.title == field.name)">
        <span class="title">{{field.placeholder}}</span>
        <br>
        <section class="skills-section">
          <div [formArrayName]="field.name" *ngFor="let _value of field.values; let i = index" class="skills-margin">
            <mat-checkbox color="primary" [formControlName]="i">{{_value.label}}</mat-checkbox>
          </div>
          <mat-error *ngIf="forms[category].controls[field.name].invalid && forms[category].controls[field.name].touched">You must select up to 5 skills</mat-error>
        </section>
      </mat-card>
    </div>
  </div>
  <mat-card>
    <span *ngIf="category != 4" class="title">Location</span>
    <span *ngIf="category == 4" class="title">Your location</span>
    <br>
    <mat-form-field>
      <input matInput
            required
            placeholder="Location"
            formControlName="location">
    </mat-form-field>
  </mat-card>

  <mat-card *ngIf="category != 4">
    <span class="title">Extras</span>

    <div *ngFor='let field of fields[category]'>

      <mat-form-field *ngIf="field.type == 'input'">
        <input type="{{field.input_type || 'text'}}"
              matInput
              [formControlName]="field.name"
              placeholder="{{field.placeholder}}">
      </mat-form-field>

      <div *ngIf="field.type == 'number'" class="horizontal">
        <span class="title">{{field.placeholder}}</span>
        <wono-counter [formControlName]="field.name" [max]="field.max" [min]="field.min"></wono-counter>
      </div>

      <mat-form-field *ngIf="field.type == 'textarea'">
        <textarea matInput
              placeholder="{{field.placeholder}}"
              [formControlName]="field.name"
              rows="5"></textarea>
      </mat-form-field>

      <mat-form-field *ngIf="field.type === 'list' || field.type === 'double_list'">
        <mat-select   placeholder="{{field.placeholder}}"
                      [formControlName]="field.name"
                      [multiple]="field.multiple">
          <mat-option *ngFor="let _value of field.values" [value]="_value">{{_value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="field.type == 'range'" class="range">
        <span>{{field.placeholder}}</span>
        <mat-slider
          color="primary"
          [max]="field.max"
          [min]="field.min"
          [step]="1"
          thumbLabel="true"
          [tickInterval]="tickInterval"
          [formControlName]="field.name">
        </mat-slider>
      </div>

      <mat-checkbox *ngIf="field.type == 'checkbox'"
                    color="primary"
                    [formControlName]="field.name">{{field.placeholder}}</mat-checkbox>
    </div>
  </mat-card>
  <mat-card *ngIf="category != 4">
    <span class="title">Select Free Booking Dates</span>
    <mat-form-field floatLabel="never" *ngIf="!always">
      <input matInput
             formControlName="dates"
             [satDatepicker]="picker"
             readonly
             [disabled]="always"
             placeholder="Choose available period →"
             [min]="minDate">
      <sat-datepicker #picker touchUi [rangeMode]="true" [closeAfterSelection]="false"></sat-datepicker>
      <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </mat-form-field>
    <mat-checkbox color="primary" [checked]="always" (change)="alwaysChaged($event.checked)">Asset is always available</mat-checkbox>
  </mat-card>

  <mat-card>
    <span class="title" *ngIf="category == 4">Hourly rate</span>
    <span class="title" *ngIf="category != 4">Price</span>
    <section class="price">
      <mat-form-field>
        <input matInput
              type="number"
              required
              placeholder="Price"
              formControlName="price">
      </mat-form-field>
      <mat-form-field *ngIf="category != 4">
        <mat-select formControlName="per" placeholder="per ...">
          <mat-option selected value="day">per Day</mat-option>
          <mat-option value="month">per Month</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </mat-card>

  <div class="actions">
    <button type="submit" *ngIf="!editing" (click)="newDraft(forms[category])" [disabled]="forms[category].invalid">Save draft</button>
    <button *ngIf="userPublished && !editing" orange (click)="publish(forms[category])" [disabled]="forms[category].invalid">Publish</button>
    <button type="submit" *ngIf="editing" (click)="_draft ? updateDraft(forms[category]) : updateAsset(forms[category])" [disabled]="forms[category].invalid">Update asset</button>
  </div>

</form>
