:host {
  max-width: none !important;
  max-height: none !important;
  text-align: center;
  margin: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

wono-logo {
  width: 190px;
  margin: 20px auto;
  cursor: pointer;
}

page-header {
  margin-left: 40px;
}

form {
  margin: 40px auto;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

mat-form-field {
  align-self: stretch;
  margin-bottom: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  margin: 20px;
}

section > * {
  margin: 10px 0;
}

a {
  text-decoration: none;
}

b {
  font-family: ProximaNova-Semibold;
  font-size: 14px;
}

.art {
  width: 240px;
  height: auto;
  margin: auto;
  display: flex;
}

mat-tab-group {
  margin: 20px auto;
}

.skip {
  margin: 20px auto;
  width: fit-content;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  color: gray;
}

.circle {
  width: 8px;
  height: 8px;
  border: 2px solid;
  border-radius: 50%;
}

.meet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: none;
  text-align: center;
  height: 400px;
}

.meet mat-icon {
  margin: 20px auto;
}

mat-tab-group >>> mat-tab-header {
  border: none !important
}

mat-tab-group >>> mat-tab-header mat-ink-bar {
  display: none !important
}

mat-tab-group >>> mat-tab-header .mat-tab-labels {
  justify-content: center;
}

mat-tab-group >>> mat-tab-header .mat-tab-label-active {
  color: var(--orange);
}

mat-tab-group >>> mat-tab-header .mat-tab-label:first-child {
  padding-left: 6px !important;
}

.error {
  margin-top: 1rem;
  color: #ff5900;
  font-weight: bold
}
