<div *ngIf="show">
  <mat-tab-group headerPosition="below">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="circle"></div>
      </ng-template>
      <div class="meet">
        <h2>
          Share what you have <br>
          Get what you want
        </h2>
        <mat-icon class="meet art" svgIcon="meet_1"></mat-icon>
        <p>
          Reliable environment for sharing,<br>
          rentals and earning
        </p>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div class="circle"></div>
      </ng-template>
      <div class="meet">
        <h2>
          Share what you have <br>
          Get what you want
        </h2>
        <mat-icon class="meet art" svgIcon="meet_2"></mat-icon>
        <p>
          No tax and currency conversion expenses
        </p>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div class="circle"></div>
      </ng-template>
      <div class="meet">
        <h2>
          Share what you have <br>
          Get what you want
        </h2>
        <mat-icon class="meet art" svgIcon="meet_3"></mat-icon>
        <p>
          Reviews, rating and score are fully transparent
        </p>
      </div>
    </mat-tab>
  </mat-tab-group>
  <span class="skip" (click)="disableShow()">Skip</span>
</div>

<div *ngIf="!show">
  <wono-logo routerLink="/"></wono-logo>
  <page-header title="Sign in"></page-header>
  <form #form="ngForm" (ngSubmit)="signin(pass)">
    <mat-form-field>
      <input  matInput
              placeholder="Password"
              type="password"
              [(ngModel)]="pass"
              name="pass"
              required
              minlength="6"
              maxlength="32">
      <mat-error>Password is incorrect</mat-error>
    </mat-form-field>
    <button orange [disabled]="form.invalid">Continue</button>
    <span class="error" *ngIf="invalid">Invalid password</span>
  </form>

  <mat-icon class="art" svgIcon="wallet-art"></mat-icon>

  <section>
    <a routerLink="/auth/recovery"><b>Recover Access</b></a>
    <span>Don’t have a wallet yet?<a routerLink="/auth/signup">Create one here.</a></span>
  </section>
</div>
