:host {
  max-width: none !important;
  max-height: none !important;
  margin: 0 !important;
  width: 100%;
  text-align: center;
}

wono-logo {
  width: 190px;
  margin: 20px auto;
  cursor: pointer;
}

page-header {
  margin-left: 40px;
}

form {
  margin: 40px auto;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

mat-form-field {
  align-self: stretch;
  margin-bottom: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  margin: 20px 25px;;
}

section > * {
  margin: 10px 0;
}

a {
  text-decoration: none;
}

b {
  font-family: ProximaNova-Semibold;
  font-size: 14px;
}

.art {
  width: 240px;
  height: 200px;
  margin: auto;
}

.header {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black)
}

.header > mat-icon {
  color: var(--orange);
  height: 1em;
  cursor: pointer;
}

p {
  font-size: 16px;
  font-family: ProximaNova-Bold;
  padding: 10px 0;
  border-top: solid 1px #c1c1c1;
  border-bottom: solid 1px #c1c1c1;
  margin-top: 0 !important;
}

.caution b {
  color: var(--orange);
  font-size: 11px;
}

.caution {
  font-size: 11px;
  color: var(--black)
}

mat-chip {
  cursor: pointer;
}

.confirmed {
  background: #008792;
  color: #f3f3f3;
  font-family: ProximaNova-Semibold;
  letter-spacing: 0.4px;
}

mat-chip-list >>> .mat-chip-list-wrapper {
  justify-content: space-around;
}

.address {
  display: flex;
  align-items: center;
}

[divider] {
  height: 1px;
  background: #003b61;
  width: 100%;
}

.error {
  color: red;
  font-weight: bold;
}

.actions {
  display: flex;
}

.actions > * {
  margin: 0 5px;
}

.copy-icon {
  height: 1em;
  margin-left: 5px;
  cursor: pointer;
}
