<wono-logo routerLink="/"></wono-logo>
<page-header title="Sign up"></page-header>
<div [ngSwitch]="state">
  <form *ngSwitchCase="states.first" #form="ngForm" (ngSubmit)="state = states.seed">
    <mat-form-field>
      <input  matInput
              placeholder="New password"
              type="password"
              [(ngModel)]="password"
              name="pass"
              required
              minlength="6"
              maxlength="32">
    </mat-form-field>
    <button orange [disabled]="form.invalid">Continue</button>
  </form>

  <section *ngSwitchCase="states.seed">
    <div class="header">
      <span>Your secret seed phrase</span>
      <mat-icon svgIcon="update" (click)="createSeed()"></mat-icon>
    </div>
    <p>{{seedphrase}}</p>
    <input type="text" readonly [value]="seedphrase" copy>
    <span class="caution">
      <b>WARNING!</b> Never disclose your backup phrase. Anyone with
      this phrase can take your Ether forever.
    </span>
    <div class="actions">
      <button ngxClipboard [cbContent]="seedphrase" (cbOnSuccess)="copied($event)">Copy seed</button>
      <button orange (click)="state = states.confirm">Next</button>
    </div>
  </section>

  <section *ngSwitchCase="states.confirm">
    <div class="header">
      <span>Confirm secret seed phrase</span>
    </div>
    <mat-chip-list>
      <mat-chip *ngFor="let word of confirm" class="confirmed" (click)="remove(word)">{{word}}</mat-chip>
      <span *ngIf="!confirm.length" style="color: #868686;">Tap on the words</span>
    </mat-chip-list>
    <div divider></div>
    <mat-chip-list>
      <mat-chip *ngFor="let word of splittedSeed" (click)="add(word)">{{word}}</mat-chip>
      <span *ngIf="!splittedSeed.length" class="error">Seedphrase is incorrect!</span>
    </mat-chip-list>
  </section>

  <section *ngSwitchCase="states.creating">
    <h2>Wallet is creating...</h2>
  </section>

  <section *ngSwitchCase="states.end">
    <h2>Wallet Created</h2>
    <mat-form-field>
      <input matInput type="text" readonly placeholder="Your address" [value]="address">
      <mat-icon svgIcon="copy" ngxClipboard [cbContent]="address" (cbOnSuccess)="copied($event)" matSuffix class="copy-icon"></mat-icon>
    </mat-form-field>
    <div class="actions">
      <button orange routerLink="/">Done</button>
    </div>
  </section>
</div>

<mat-icon class="art" svgIcon="newwallet-art"></mat-icon>

<section *ngIf="state != states.end">
  <a routerLink="/auth/recovery"><b>Recover Access</b></a>
  <span>Do you have an account? <a routerLink="/auth/signin">Sign in</a></span>
</section>
