:host {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding-right: 1rem;
}

h2 {
  margin: 0;
  font-family: ProximaNova-Bold;
}

:host > div {
  position: absolute;
  height: 2px;
  width: 2em;
  background: orange;
  left: -40px;
  bottom: 0;
}
