:host {
  display: flex;
  align-items: center;
  font-family: ProximaNova-Semibold;
}

button {
  width: 2em;
  height: 2em;
  padding: 0;
  justify-content: center;
  outline: 0;
}

span {
  margin: 0 .5em;
}
