mat-card {
  margin: 1rem 0 1rem .1rem;
  padding: 20px;
  font-size: 14px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  justify-items: end;
  max-width: 420px;
}

mat-card > *:nth-child(2n) {
  justify-self: start;
  color: #95989A;
}

section {
  display: flex;
  align-items: center;
}
mat-card {
  margin: 1rem 0 1rem .1rem;
  padding: 20px;
  font-size: 14px;
  max-width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card > section {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #95989A;
}

mat-card > section:first-child {
  align-items: flex-end;
  margin-right: 10px;
  color: var(--black)
}

mat-card > section > * {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

section {
  display: flex;
}

.photo {
  padding: 1em;
  border: solid 1px;
  border-radius: 5px;
  cursor: pointer;
}

.photo_title {
  height: 24px;
  padding: 1em 0;
}

.confirm {
  height: 20px;
  color: #007d8b;
}

button {
  font-size: 10px;
}

form button {
  margin: auto;
  margin-top: 1rem;
}
