<page-header title='Balance'>
</page-header>
<mat-tab-group dynamicHeight (selectedIndexChange)="tab = $event">

  <mat-tab label="Wallets">
    <ul>
      <li>
        <wallet></wallet>
      </li>
      <li>
        <wallet></wallet>
      </li>
      <li>
        <wallet></wallet>
      </li>
    </ul>
  </mat-tab>

</mat-tab-group>
