<div *ngIf="asset.category != 4 || ismainpage">
	<div *ngIf="asset.category != 4">
		<mat-card *ngIf="asset.image" [style.backgroundImage]="'url(' + asset.image + ')'"></mat-card>
		<mat-card *ngIf="!asset.image" class="placeholder">
		  <mat-icon svgIcon="placeholder"></mat-icon>
		</mat-card>
	</div>
	<div *ngIf="asset.category == 4">
		<mat-card *ngIf="asset?.assetOwner?.photo" [style.backgroundImage]="'url(' + asset?.assetOwner?.photo + ')'"></mat-card>
		<mat-card *ngIf="!asset?.assetOwner?.photo" [style.backgroundImage]="'url(' + avatar + ')'"></mat-card>
	</div>


<section>

  <span class="title">{{asset.title}}</span>
  <!-- <span *ngIf="asset.category == 4" class="title">{{asset.assetOwner.firstname.value + ' ' + asset.assetOwner.lastname.value}}</span> -->
  <div class="status">{{ asset.draft ? 'Draft' : 'Active' }}</div>
</section>
<h3>{{asset.price}} W</h3>
<span class="location">
  {{asset.location}}
</span>
</div>

<mat-card *ngIf="asset.category == 4 && own && !ismainpage" class="resumeEdit">
	<img *ngIf="asset.image" src="{{asset.image}}">
	<div *ngIf="!asset.image" class="placeholder">
		<mat-icon svgIcon="placeholder"></mat-icon>
	</div>
	<section>
		<span class="title">{{asset.title}}</span>
		
		<span class="created">{{asset?.dates?.begin | date : "'Created at ' MMMM d, y"}}</span>
		<div class="buttonBlock" *ngIf="authorized && asset?.owner == user?.address">
			<button (click)="deleteAsset()" style="margin-right: 0.5em;">Delete</button>
			<button orange routerLink="/create/asset" [queryParams]="{edit:asset.id, draft: draft}">Edit</button> 
		</div>
	</section>
</mat-card>
<mat-card *ngIf="asset.category == 4 && !own && !ismainpage" class="ownerresume owner">
	<div class="avatar">
      <img [src]="asset?.assetOwner?.photo || avatar">
    </div>
	<section class="resume" *ngIf="asset.category == 4">
      <span class="title resume">{{ asset?.assetOwner?.firstname.value + ' ' + asset?.assetOwner?.lastname.value }}</span>
      <section class="info">
        <span>
          <b>{{asset.price}} W</b> / hour
        </span>
      </section>
      <section class="marginTop">
        <b>{{asset.title}}:</b>&nbsp;
        <span *ngIf="extras">
            <ng-container *ngFor="let item of extras" >
              <span *ngIf="asset.extras[item].value">{{ asset.extras[item].title }}</span><aside *ngIf="asset.extras[item].value" class="comma"></aside>
            </ng-container>
        </span>
      </section>
      <section class="info">
        <span class="location">
          <mat-icon svgIcon="pin"></mat-icon>
          {{asset.location}}
        </span>
      </section>
    </section>
</mat-card>