:host {
  display: block;
  font-family: ProximaNova-Semibold;
  cursor: pointer;
}

:host[small] {
  width: 82px;
  font-size: 10px;
}

:host[small] mat-card {
  height: 60px;
}

:host[small] h3 {
  font-size: 10px;
}

:host[small] .status {
  display: none;
}

:host[small] .title {
  font-size: 10px;
}

:host:not([small]) mat-card {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

mat-card {
  padding: 0;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  height: 180px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

section {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*.info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  font-size: 11px;
  color: #95989A;
  line-height-step: 10px;
}*/

.title {
  font-size: 14px;
  color: #003B61;
  white-space: pre-wrap;
  word-break: break-word;
}


.status {
  font-size: 9px;
  padding: 5px 40px 5px 10px;
  background: #DEDEDE;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: ProximaNova-Regular;
}

h3 {
  color: #FF6600;
  margin: 0;
}

.placeholder {
  background: gainsboro;
}

.placeholder > mat-icon {
  margin: auto;
  height: 100px;
  width: 100px;
  color: #afafaf;
}

.location,.created {
  font-size: 8px;
  color: #a1a3a5;
}

.location > mat-icon {
  height: 1em;
  width: 1em;
}

mat-card.resumeEdit{
  height: 7.8em;
}

mat-card.resumeEdit > .placeholder {
  margin: 0.8em 1.3em 0.8em 1.4em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 5px;
  color: #95989A;
  cursor: pointer;
  width: 6em;
  height: 6em;
  background-color: white;
}

mat-card.resumeEdit >.placeholder > mat-icon{
  height: 2.5em;
  width: 100%;
  margin-top: 1.7em;
}

.resumeEdit section {
  margin-top: 0.8em;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
}

.resumeEdit .title{
  color: var(--blue-dark);
  display: block;
  font-size: 16px;
  font-weight: 500;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: initial;
}
.title.ownerresume{
  font-size: 1.3em;
}

.buttonBlock{
  margin-top: 0.4em;
}

.buttonBlock button{
  font-size: 9px;
  display: inline-block;
}

.buttonBlock button:not([orange]){
  color: #ffffff;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar > img {
  margin: 0;
  height: 100%;
  width: 100%;
}

.info {
  color: #95989A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 15px 0 0;
}

.info > span {
  display: flex;
  align-items: center;
}

.info span b, .info span mat-icon {
  font-family: ProximaNova-Semibold;
  color: #FF6600;
}

.info span mat-icon {
  height: 10px;
  width: 15px;
  top: -4px;
  position: relative;
}

.owner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin-top: 10px;
  height: initial;
}
.ownerresume{
  align-items:end;
}

.owner > section {
  display: flex;
  flex: 1;
  margin: 0 10px;
  flex-wrap: wrap;
}

.ownerresume > section {
  display: unset;
}

.owner > button {
  margin: 0 10px;
}

.comma {
    display: initial !important;
}
.comma:not(:last-of-type):after {
  content: ", ";
}
.comma:nth-last-of-type(2):before {
  content: none;
}
.comma:nth-last-of-type(2):after {
  content: " and ";
}
.marginTop{
  margin-top: 0.6em;
  align-items: baseline;
  justify-content: initial;
}