<wono-logo routerLink="/"></wono-logo>
<page-header title="Recover Access"></page-header>
<div [ngSwitch]="state">

  <form *ngSwitchCase="states.first" #seedForm="ngForm" (ngSubmit)="checkSeed(seed)">
    <mat-form-field>
      <textarea matInput placeholder="Seedphrase" [(ngModel)]="seed" name="seed" required></textarea>
    </mat-form-field>
    <button orange [disabled]="seedForm.invalid">Continue</button>
  </form>

  <form *ngSwitchCase="states.pass" #form="ngForm" (ngSubmit)="recover(seed, newpass)">
    <mat-form-field>
      <input  matInput
              placeholder="New password"
              type="password"
              [(ngModel)]="newpass"
              name="pass"
              required
              minlength="6"
              maxlength="32">
      <mat-error>Password is incorrect</mat-error>
    </mat-form-field>
    <button orange [disabled]="form.invalid">Continue</button>
  </form>

  <section *ngSwitchCase="states.recovering">
    <h2>Recovering...</h2>
  </section>

  <section *ngSwitchCase="states.end">
    <h2>Access Recovered</h2>
    <mat-form-field>
      <input matInput type="text" readonly placeholder="Your address" [value]="address">
    </mat-form-field>
    <div class="actions">
      <button orange routerLink="/">Done</button>
    </div>
  </section>

</div>

<mat-icon class="art" svgIcon="recovery-art"></mat-icon>

<section>
  <a routerLink="/auth/signin"><b>Sign In</b></a>
  <span>Don't have an account? <a routerLink="/auth/signup">Sign up</a></span>
</section>
