:host {
  max-width: none !important;
  max-height: none !important;
  margin: 0 !important;
  width: 100%;
  text-align: center;
}

wono-logo {
  width: 190px;
  margin: 20px auto;
  cursor: pointer;
}

page-header {
  margin-left: 40px;
}

form {
  margin: 40px auto;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

mat-form-field {
  align-self: stretch;
  margin-bottom: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  margin: 20px 25px;;
}

section > * {
  margin: 10px 0;
}

a {
  text-decoration: none;
}

b {
  font-family: ProximaNova-Semibold;
  font-size: 14px;
}

.art {
  width: 240px;
  height: 200px;
  margin: auto;
}

.error {
  color: red;
  margin-bottom: 1em;
}
