<page-header title='Profile'>
  <button orange *ngIf="tab == 0 && !loading" (click)="editing = !editing">Edit</button>
</page-header>
<mat-tab-group dynamicHeight (selectedIndexChange)="tab = $event" *ngIf="!loading">
  <mat-tab label="General info">
    <div class="sync" (click)="publish()" *ngIf="!synced && !user.pending">
      {{ published ? 'Update data into blockchain' : 'Publish to blockchain' }}
      <mat-icon svgIcon="update"></mat-icon>
    </div>
    <div class="sync" *ngIf="user.pending" style="cursor: default">
      Publishing in progress...
    </div>
    <div class="sync" *ngIf="!user.pending && synced" style="cursor: default">
      Profile published
    </div>
    <mat-card *ngIf="!editing">
      <span>Photo</span>
      <div class="photoInput">
        <mat-icon *ngIf="!user.photo" svgIcon="photo"></mat-icon>
        <img src="{{user.photo}}" *ngIf="user.photo">
      </div>
      <span>First name</span>
      <div class="info">
        <span>
          {{user.firstname.value || 'No Data'}}
        </span>
        <mat-icon class="lock" svgIcon="lock" *ngIf="user.firstname.private"></mat-icon>
      </div>
      <span>Last name</span>
      <div class="info">
        <span>
          {{user.lastname.value || 'No Data'}}
        </span>
        <mat-icon class="lock" svgIcon="lock" *ngIf="user.lastname.private"></mat-icon>
      </div>
      <span>Date-of-Birth</span>
      <div class="info">
        <span>
          {{user.birthday.private ? user.birthday.value : birthday}}
        </span>
        <mat-icon class="lock" svgIcon="lock" *ngIf="user.birthday.private"></mat-icon>
      </div>
      <span>Address</span>
      <div class="info">
        <mat-form-field style="max-width: 100%">
          <input matInput type="text" #addrInput readonly [value]="address">
          <mat-icon svgIcon="copy" (click)="copy(addrInput)" matSuffix class="copy-icon"></mat-icon>
        </mat-form-field>
      </div>
    </mat-card>
    <mat-card *ngIf="editing">
      <form #form="ngForm" (ngSubmit)="save(user)">
        <div class="photoInput" [class.edit]="editing">
          <mat-icon svgIcon="photo"></mat-icon>
          <input type="file" (change)="readFile($event)">
          <img src="{{imageSrc || user.photo}}" *ngIf="imageSrc || user.photo">
        </div>
        <mat-form-field>
          <input matInput
                [(ngModel)]="user.firstname.value"
                required
                placeholder="First name"
                [disabled]="user.firstname.private"
                name="firstname">
          <mat-error>Invalid value</mat-error>
          <mat-icon class="lock" svgIcon="lock" *ngIf="user.firstname.private" matSuffix></mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                required
                placeholder="Last name"
                name="lastname"
                [disabled]="user.lastname.private"
                [(ngModel)]="user.lastname.value">
          <mat-error>Invalid value</mat-error>
          <mat-icon class="lock" svgIcon="lock" *ngIf="user.lastname.private" matSuffix></mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input  matInput required
                  [(ngModel)]="user.birthday.value"
                  name="birthday"
                  [max]="maxDate"
                  [min]="minDate"
                  [disabled]="user.birthday.private"
                  [matDatepicker]="picker"
                  [placeholder]="user.birthday.private ? user.birthday.value : 'Date-of-Birth'">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
          <mat-error>Invalid value</mat-error>
          <mat-icon class="lock" svgIcon="lock" *ngIf="user.birthday.private" matSuffix></mat-icon>
        </mat-form-field>
        <button orange type="submit" [disabled]="form.invalid">Save as draft</button>
        <div class="private">
          <mat-icon svgIcon="lock"></mat-icon>
          <a (click)="privateSettings(form)">Privacy settings</a>
        </div>
      </form>
    </mat-card>
  </mat-tab>

  <!-- <mat-tab label="Security" [disabled]="editing">
    <mat-card>
      <span>E-mail</span>
      <section>
        <span>{{user.email || 'No data'}}</span>
        <mat-icon svgIcon="confirm" class="confirm"></mat-icon>
      </section>
      <span>Phone</span>
      <section>
        <span>{{user.phone || 'No data'}}</span>
        <a disabled>Verify</a>
      </section>
    </mat-card>
    <mat-card style="grid-column-gap: 0">
      <section>
        <button disabled class="civic" orange>Verification by <mat-icon svgIcon="civic"></mat-icon></button>
        <mat-icon svgIcon="confirm" class="confirm"></mat-icon>
      </section>
    </mat-card>
  </mat-tab>

  <mat-tab label="Social Media Profiles/Accounts" [disabled]="editing">
    <mat-card>
      <section>
        <mat-icon svgIcon="fb"></mat-icon>
        <span>Facebook</span>
      </section>
      <span>
        <mat-icon svgIcon="confirm" class="confirm"></mat-icon>
      </span>
      <section>
        <mat-icon svgIcon="google"></mat-icon>
        <span>Google</span>
      </section>
      <section>
        <a disabled>Add profile</a>
      </section>
    </mat-card>
  </mat-tab> -->

</mat-tab-group>

<h2 *ngIf="loading">{{status}}</h2>
