:host {
  margin-bottom: 0 !important;
}

mat-card {
  margin: 1rem auto;
  padding: 20px;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  justify-items: end;
  max-width: 420px;
}

mat-card > *:nth-child(2n) {
  justify-self: start;
  color: #95989A;
}

section {
  display: flex;
  align-items: center;
}

section > *:not(:first-child) {
  margin-left: .5rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.photo {
  padding: 1em;
  border: solid 1px;
  border-radius: 5px;
  cursor: pointer;
}

.confirm {
  height: 20px;
  color: #007d8b;
}

button {
  font-size: 10px;
}

.civic mat-icon {
  height: 1em;
  width: 3em;
}

form button {
  margin: auto;
  margin-top: 1rem;
}

.private {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue-dark);
  margin-top: 1em;
}

.private > mat-icon {
  height: 1em;
}

.private > a {
  color: currentColor;
  text-decoration: underline;
}

.lock {
  color: currentColor;
  height: 12px;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 120px;
  min-width: 100px;
}

.info > span {
  text-overflow: ellipsis;
  max-width: 120px;
  overflow: hidden;
}

.sync {
  align-items: center;
  display: flex;
  cursor: pointer;
  font-size: 12px;
  margin-top: 1em;
}

.sync > mat-icon {
  height: 1em;
}

.photoInput {
  position: relative;
  display: block;
  align-self: baseline;
  margin-bottom: 20px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-radius: 5px;
  overflow: hidden;
  color: var(--black);
  opacity: 1;
  transition: opacity .3s;
}

.photoInput.edit:hover {
  opacity: .8;
}

.photoInput > input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.photoInput > mat-icon {
  z-index: 1;
  position: absolute;
}

.edit > img {
  opacity: .7;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.copy-icon {
  height: .7em;
  margin-left: 5px;
  cursor: pointer;
}
