:host {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 100%;
}

button {
  font-size: 9px;
  outline: none;
  padding: 5px 7px;
}

small {
  text-align: center;
  margin: 100px 10px 0px 0px;
  display: block;
  color:#5E5E5E;
}

mat-tab-group >>> .mat-tab-body-wrapper > mat-tab-body >>> .mat-tab-body-content {
  height: auto;
  max-height: 100%;
  overflow: auto;
}

.title {
  color: var(--blue-dark);
  display: block;
  font-size: 16px;
  font-weight: 500;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card {
  padding: 0;
  display: flex;
  font-size: 12px;
  margin: 5px 0;
}

mat-card > img {
  flex: 1;
  min-height: 70px;
  max-height: 150px;
  min-width: 50px;
  max-width: 100px;
  object-fit: cover;
}

.info {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  font-family: ProximaNova-Semibold;
  color: var(--orange);
  font-size: 14px;
  margin: 10px 0;
}

.actions {
  display: flex;
}

.name {
  text-decoration: underline;
  color: var(--blue-dark);
}

.status {
  display: flex;
  flex-direction: column;
}

[status] {
  font-size: 10px;
  padding: 3px;
  background: #dbdbdc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

[status="Ongoing"] {
  background: #77de7c;
}

[status="Upcoming"] {
  background: #d1de77;
}

[status="Cancelled"] {
  background: #fb3a3a;
}
