<page-header title="Deals"></page-header>

<mat-tab-group dynamicHeight *ngIf="!loading">
  <mat-tab label="All">
    <div *ngIf="deals || deals.length">
      <mat-card *ngFor="let deal of deals">
        <img src="{{deal.image}}">
        <section class="info">
          <span class="title">{{deal.assetData.title}}</span>
          <span style="color:#b2b2b2">{{deal.start}} - {{deal.end}}</span>
          <span>I'm a {{roles[deal.myRole]}}</span>
          <span>
            <b>{{ deal.myRole ? 'Vendor' : 'Customer' }}:</b>
            &nbsp;
            <span class="name">{{deal.companion.firstname.value + ' ' + deal.companion.lastname.value}}</span>
          </span>
          <div class="actions">
            <button style="margin-right: 5px" *ngIf="!deal.cancelled && deal.state != 'Ended'" (click)="cancelDeal(deal)">Cancel</button>
            <button orange routerLink="/chat/{{deal.chatId}}" *ngIf="deal.state != 'Ended'">Messages</button>
            <button *ngIf="deal.state == 'Ended' && !deal.confirmed && !deal.disputed" style="margin-right: 5px" (click)="disputDeal(deal)">Dispute</button>
            <button *ngIf="deal.state == 'Ended' && !deal.confirmed && !deal.disputed" orange (click)="confirmDeal(deal)">Confirm</button>
            <span class="title" *ngIf="deal.confirmed">Deal Ended</span>
            <span class="title" *ngIf="deal.disputed">Deal Disputed</span>
          </div>
        </section>
        <div class="status">
          <span class="price">{{deal.assetData.price}} W</span>
          <div [attr.status]="deal.state">{{deal.state}}</div>
        </div>
      </mat-card>
    </div>
    <small *ngIf="!deals || !deals.length">
      You haven't got any deals. <br>
    </small>
  </mat-tab>
</mat-tab-group>

<h2 *ngIf="loading">{{status}}</h2>
