h2 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font-size: 12px;
}

.actions {
  display: flex;
}

.actions > button:first-child {
  margin-right: 1em
}
