<section *ngIf="!confirmation">
  <h2>Privacy settings</h2>
  <span>Select the fields you want to encrypt</span>
  <ul>
    <li *ngFor="let field of fields">
      <mat-checkbox (change)="user[field].private = $event.checked" [checked]="user[field].private">{{ field }}</mat-checkbox>
    </li>
  </ul>
  <div class="actions">
    <button (click)="dialogRef.close()">Close without save</button>
    <button orange (click)="confirmation = true">Save</button>
  </div>
</section>
<section *ngIf="confirmation">
  <h2>Confirm encryption</h2>
  <form>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" [(ngModel)]="pass" name="pass">
    </mat-form-field>
    <button orange (click)="process(pass)" [disabled]="!pass">Continue</button>
    <span class="error">{{invalidMessage}}</span>
  </form>

</section>
