mat-card {
  margin: 1rem 0 1rem .1rem;
  padding: 20px;
  font-size: 14px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  justify-items: end;
  max-width: 420px;
}

mat-card > *:nth-child(2n) {
  justify-self: start;
  color: #95989A;
}

section {
  display: flex;
  align-items: center;
}

section > *:not(:first-child) {
  margin-left: .5rem;
}

.photo {
  padding: 1em;
  border: solid 1px;
  border-radius: 5px;
  cursor: pointer;
}

.confirm {
  height: 20px;
  color: #007d8b;
}

button {
  font-size: 10px;
}

.civic mat-icon {
  height: 1em;
  width: 3em;
}

form button {
  margin: auto;
  margin-top: 1rem;
}
