<page-header [title]="title" *ngIf="!loading && filter.category != 4">
  <button orange routerLink="/create/asset" *ngIf="!search && own">+ Add new</button>
  <!-- <button orange *ngIf="!search && !own" (click)="filtered = !filtered">Filter</button> -->
</page-header>

<!-- <section *ngIf="filter" class="filter">
  <div *ngIf="filter.category">
    <span class="title">Category: &nbsp;</span>
    <span>{{ categoryNames[filter.category - 1] || 'All'}} &nbsp;</span>
  </div>
  <div *ngIf="filter.from">
    <span class="title"> from &nbsp;</span>
    <span>{{ filter.from }} W &nbsp;</span>
  </div>
  <div *ngIf="filter.to">
    <span class="title">to &nbsp;</span>
    <span>{{ filter.to }} W &nbsp;</span>
  </div>
</section> -->

<h2 *ngIf="loading">Loading...</h2>

<mat-expansion-panel [expanded]="filtered && !own">
  <h2 style="color:#8d8e8e">Filter settings</h2>
  <mat-form-field>
    <mat-select placeholder="Category" [(ngModel)]="filter.category" name="category">
      <mat-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <span class="title">Price</span>
  <section class="price">
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="filter.from" placeholder="From">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="filter.to" placeholder="To">
    </mat-form-field>
  </section>

  <mat-action-row>
    <button mat-button orange routerLink="/assets" (click)="applyFilter()">Apply</button>
  </mat-action-row>
</mat-expansion-panel>

<mat-tab-group dynamicHeight *ngIf="!loading">
  <mat-tab [label]="filterDates || 'All'">
    <ul *ngIf="assets || assets.length">
      <li *ngFor="let asset of assets">
        <asset-item [asset]="asset" [authorized]="authorized" [own]="own" [user]="user" [routerLink]="'/asset/' + (asset.draft || asset.pending ? 'draft-' : '') + asset.id"></asset-item>
      </li>
    </ul>
    <small *ngIf="!assets || !assets.length">
      You haven't got any assets listed on WONO. <br>
      Hit the ADD NEW button above.
    </small>
  </mat-tab>
  <mat-tab label="Active" *ngIf="own">
    <ul *ngIf="active || active.length">
      <li *ngFor="let asset of active">
        <asset-item [asset]="asset" [authorized]="authorized" [own]="own" [user]="user" routerLink="/asset/{{asset.id}}"></asset-item>
      </li>
    </ul>
    <small *ngIf="!active || !active.length">
      You haven't got any active assets listed on WONO.
    </small>
  </mat-tab>
  <mat-tab label="Drafts" *ngIf="own">
    <ul *ngIf="drafts || drafts.length">
      <li *ngFor="let asset of drafts">
        <asset-item [asset]="asset" [authorized]="authorized" [own]="own" [user]="user" routerLink="/asset/draft-{{asset.id}}"></asset-item>
      </li>
    </ul>
    <small *ngIf="!drafts || !drafts.length">
      You haven't got any assets listed on WONO. <br>
      Hit the ADD NEW button above.
    </small>
  </mat-tab>
</mat-tab-group>
