:host {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 100%;
}

asset-item {
  margin: 10px 0 20px 5px;
}

button {
  font-size: 10px;
  outline: none;
}

small {
  text-align: center;
  margin: 100px 10px 0px 0px;
  display: block;
  color:#5E5E5E;
}

mat-tab-group >>> .mat-tab-body-wrapper > mat-tab-body >>> .mat-tab-body-content {
  height: auto;
  max-height: 100%;
  overflow: auto;
}

.title {
  color: var(--blue-dark);
  font-size: 12px;
  display: block;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price > * {
  max-width: 100px;
}

mat-expansion-panel {
  color: var(--black);
}

.filter {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--orange);
}

.filter > * {
  display: flex;
  align-items: center;
}
