mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F1F1F1;
  color: #003B61;
}

header {
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex: 1 0 100%;
}

header > wono-logo {
  width: 4rem;
  height: 2rem;
  margin: .5rem;
  margin-right: auto;
  cursor: pointer;
}

[blue] {
  font-size: 10px;
  margin: 0 10px;
}

.search {
  margin-right: 10px
}

.search-container {
  padding-bottom: 0;
}

.search-container > .menu {
  position: relative;
  top: -7px;
}

.search-container > mat-form-field {
  min-width: 50px;
}

.cat-trigger {
  margin: 0 10px;
}

mat-sidenav-content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

mat-sidenav {
  display: flex;
  flex-direction: column;
  background: rgb(0, 68, 103);
  background: linear-gradient(176deg, rgb(0, 68, 103) 0%, rgb(0, 109, 129) 100%);
}

mat-sidenav > section {
  display: flex;
  align-items: center;
  color: white;
  margin: 2.5rem 0;
}

mat-sidenav > section > div {
  width: 2.5rem;
  height: 3px;
  background: #ff491c;
  background: linear-gradient(135deg, #fe8e0f 0%, #ff3f1e 100%);
}

mat-sidenav > section > section > h2 {
  margin: 0;
}

mat-sidenav > section > section > span {
  font-size: 12px;
}

.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 1rem;
  object-fit: cover;
  opacity: .5;
  position: absolute;
  left: 35px;
}

img.avatar {
  opacity: 1;
  z-index: 2;
}

.info {
  margin-left: 100px;
}

mat-sidenav > ul {
  list-style: none;
  color: white;
  margin: 2.5rem 0;
  display: inline-flex;
  flex-direction: column;
  font-size: 14px;
}

mat-sidenav > ul > li {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 0;
  cursor: pointer;
}

mat-sidenav > ul > li > div {
  display: block;
  width: 0.5rem;
  height: .5rem;
  background: #fe8e0f;
  border-radius: 50%;
}

mat-sidenav > ul > li > span {
  flex: 1;
}

mat-sidenav > ul > li:not(:last-child) {
  border-bottom: solid 1px #ffffff59;
}

mat-sidenav > ul > li > mat-icon {
  height: 1.1rem;
  opacity: .5;
  margin-right: 1rem;
}

.info {
  margin-right: 1rem;
}

.balance {
  flex: 0 1 auto !important;
  color: #fe8910;
  margin-left: 1em;
}

mat-icon {
  cursor: pointer;
}

footer {
  z-index: 3;
  background: #f1f1f1;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #dedede;
  position: fixed;
  bottom: 0;
}

footer mat-icon {
  height: 20px;
}

footer > .cont {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .unreaded-count {
    margin-left: 5px;
    color:  var(--orange);
  }
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--orange);
  border-radius: 50%;
  top: -4px;
  left: calc(50% + 4px);
}

[divider] {
  height: 100%;
  width: 1px;
  background: #dedede;
}

[small] {
  font-size: 8px;
  font-weight: bold;
  outline: 0;
  margin: 2px;
}

[circle] {
  padding: 0;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

[circle] > mat-icon {
  height: 1em;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.static {
  max-width: 100%;
}

@media only screen and (min-width: 600px) {
  footer {
    width: 295px;
    margin-top: 550px;
    bottom: unset;
  }
}
