<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <section *ngIf="user && authorized">
      <div></div>
      <img src="{{api.ipfsUrl + user.photoHash}}" alt="avatar" class="avatar" *ngIf="user.photo">
      <mat-icon svgIcon="user-ph" class="avatar"></mat-icon>
      <section class="info">
        <h2>{{user.firstname.value}}</h2>
        <!-- <span>Your Rating: <b>70%</b></span> -->
      </section>
    </section>
    <ul *ngIf="authorized">
      <!-- <li routerLink="/assets" (click)="sidenav.close()">
        <mat-icon svgIcon="assets"></mat-icon>
        <span>Assets</span>
      </li> -->
      <li routerLink="/assets" [queryParams]="{ own: true }" (click)="sidenav.close()">
        <mat-icon svgIcon="house"></mat-icon>
        <span>My Assets</span>
      </li>
      <li routerLink="/deals" (click)="sidenav.close()">
        <mat-icon svgIcon="deal"></mat-icon>
        <span>Deals</span>
      </li>
      <li routerLink="/chats" (click)="sidenav.close()">
        <mat-icon svgIcon="chat"></mat-icon>
        <span>Messages</span>
        <div *ngIf="notifications.length"></div>
      </li>
      <li routerLink="/profile" (click)="sidenav.close()">
        <mat-icon svgIcon="cogs"></mat-icon>
        <span>Profile</span>
      </li>
      <li>
        <mat-icon svgIcon="coins"></mat-icon>
        <span>Balance</span>
        <span class="balance" *ngIf="balance">{{balance}} ETH</span>
      </li>
      <li (click)="logout(sidenav)">
        <mat-icon svgIcon="logout"></mat-icon>
        <span>Logout</span>
      </li>
    </ul>

    <ul *ngIf="!authorized">
      <li routerLink="/auth/signin" (click)="sidenav.close()">
        <mat-icon svgIcon="logout"></mat-icon>
        <span>Sign in</span>
      </li>
      <li routerLink="/auth/signup" (click)="sidenav.close()">
        <mat-icon svgIcon="user-ph"></mat-icon>
        <span>Create account</span>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content [style.overflow]="(filterOpened && filter.category != 4) ? 'hidden' : ''">
    <header class="static" *ngIf="!search && !state('auth')">
      <mat-icon svgIcon="menu" (click)="sidenav.open()"></mat-icon>
      <wono-logo [full]="false" routerLink="/"></wono-logo>
      <mat-icon svgIcon="search" class="search" *ngIf="router.url != '/' && filter.category != 4" (click)="search = true"></mat-icon>
      <button blue
              [routerLink]="authorized ? '/create/asset' : '/auth/signup'"
              *ngIf="router.url == '/'">Add my car or home</button>
      <button blue
              
              *ngIf="router.url != '/' && filter.category == 4 && false">Post job</button>
    </header>
  <div class="static" *ngIf="search || (filter.category == 4 && router.url != '/')">
    <header class="search-container" *ngIf="search">
      <mat-icon svgIcon="menu" class="menu" (click)="sidenav.open()"></mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setFilterCategory(1)">
          <mat-icon svgIcon="house"></mat-icon>
          <span>Appartment</span>
        </button>
        <button mat-menu-item (click)="setFilterCategory(2)">
          <mat-icon svgIcon="car"></mat-icon>
          <span>Vehicles</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon svgIcon="job"></mat-icon>
          <span>Job</span>
        </button>
        <!-- <button mat-menu-item (click)="filter.category = 4">
          <mat-icon svgIcon="job"></mat-icon>
          <span>Freelancers</span>
        </button> -->
      </mat-menu>
      <div class="cat-trigger" [matMenuTriggerFor]="menu">
        <mat-icon *ngIf="filter.category == 1" svgIcon="house"></mat-icon>
        <mat-icon *ngIf="filter.category == 2" svgIcon="car"></mat-icon>
        <!-- <mat-icon *ngIf="filter.category == 4" svgIcon="job"></mat-icon> -->
      </div>
      <mat-form-field>
        <input matInput placeholder="Search" #searchInput autocomplete="off" (keyup.enter)="searchQuery(searchInput.value)">
        <mat-icon class="lock" svgIcon="close" (click)="search = false" matSuffix></mat-icon>
      </mat-form-field>
      <button circle orange (click)="searchQuery(searchInput.value)">
        <mat-icon svgIcon="arrow"></mat-icon>
      </button>
    </header>
    <app-filter-window [filter]="filter" *ngIf="filterOpened" (close)="close()" (filtered)="searchQuery(searchInput?.value)"></app-filter-window>
    <section class="filter" *ngIf="search && filter.category != 4">
      <button small blue (click)="filterOpened = true">Filter</button>
      <button small orange *ngIf="filtered" (click)="clearFilters()">Clear filters</button>
    </section>
  </div>

    <router-outlet></router-outlet>

    <footer class="static" *ngIf="authorized && !state('chat')">
      <div class="cont">
        <mat-icon svgIcon="messages" routerLink="/chats"></mat-icon>
        <!--<div *ngIf="notifications.length" class="dot"></div>-->
        <span *ngIf="unreadedCount > 0" class="unreaded-count">+{{unreadedCount}}</span>
      </div>
      <div divider></div>
      <div class="cont">
        <mat-icon svgIcon="notifications" disabled></mat-icon>
      </div>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>
