<page-header [title]="loading ? 'Loading...' : 'Messages'"></page-header>
<mat-tab-group dynamicHeight *ngIf="!loading">
  <mat-tab label="All">
    <div class="list">
      <mat-card *ngFor="let chat of chats" routerLink="/chat/{{chat.id}}" (click)="chatSelected()">
        <img class="avatar" src="{{chat.img}}"/>
        <section>
          <span class="name">
            {{ chat.assetData.title }}
          </span>
          <span class="msg">
            <span style="opacity:.7" *ngIf="chat.lastMsg.owner == user.address">You:</span>&nbsp;
            {{chat.lastMsg.event ? events[chat.lastMsg.event] : chat.lastMsg.text}}
            <span class="counter" *ngIf="chat.unreadedMsg > 0">
              +{{chat.unreadedMsg}}
            </span>
          </span>
        </section>
      </mat-card>
    </div>
    <small *ngIf="!chats || !chats.length">
      You don’t have any messages
    </small>
  </mat-tab>
</mat-tab-group>
