:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important
}

.list {
  overflow-y: scroll;
  max-height: 100%;
}

small {
  text-align: center;
  margin: 100px 10px 0px 0px;
  display: block;
  color:#5E5E5E;
}

.avatar {
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  background-image: url('/assets/img/user.svg');
}

section {
  display: flex;
  flex-direction: column;
}

mat-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
}

mat-card:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

mat-card:last-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

mat-card:not(:last-child):not(:first-child) {
  border-radius: 0 !important;
}

mat-tab-group >>> .mat-tab-body-wrapper {
  padding-top: 1rem;
}

.name {
  color: var(--blue-dark);
  max-width: 180px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}

.counter {
  font-size: 12px;
  color: var(--orange);
}

.msg {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}
