form {
  margin: 40px auto;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

mat-form-field {
  align-self: stretch;
  margin-bottom: 20px;
}

.error {
  margin-top: 1rem;
  color: #ff5900;
  font-weight: bold
}
