<h2>Confirm</h2>
<form #form="ngForm" (submit)="verify(pass)">
  <mat-form-field>
    <input  matInput
            placeholder="Password"
            type="password"
            [(ngModel)]="pass"
            name="pass"
            required
            minlength="6"
            maxlength="32">
    <mat-error>Password is incorrect</mat-error>
  </mat-form-field>
  <button orange [disabled]="form.invalid">Continue</button>
  <span class="error" *ngIf="invalid">Password is incorrect!</span>
</form>
