<mat-card *ngIf="!loading && assets.length">
  <form #searchForm="ngForm" (ngSubmit)="search(searchForm, category)">
    <span class="title">What are you looking for?</span>
    <section>
      <div class="category">
        <input type="radio" id="category_1" name="category"/>
        <label for="category_1" (click)="category = 1">
          <mat-icon svgIcon="house"></mat-icon>
          <span>Apartments</span>
        </label>
      </div>
      <div class="category">
        <input type="radio" id="category_2" name="category"/>
        <label for="category_2" (click)="category = 2">
          <mat-icon svgIcon="car"></mat-icon>
          <span>Vehicles</span>
        </label>
      </div>
      <div class="category">
        <span class="strip">Soon</span>
        <label disabled for="category_3">
          <mat-icon svgIcon="pack"></mat-icon>
          <span>Job</span>
        </label>
      </div>
      <div class="category">
        <input type="radio" id="category_4" name="category"/>
        <label for="category_4" (click)="category = 4">
          <mat-icon svgIcon="job"></mat-icon>
          <span>Freelancers</span>
        </label>
      </div>
    </section>
    <div *ngIf='category ==4'>
     <div *ngFor='let field of fields[category]'>
      <div *ngIf="field.type === 'list' || field.type === 'double_list'">
        <span class="title">Choose category</span>
        <br>
        <mat-form-field>
        <mat-select  panelClass="mat-profcat"
                     placeholder="{{field.placeholder}}"
                      name="{{field.name}}"
                      [multiple]="field.multiple"
                      [(ngModel)]="selectedProfcatValue">
          <mat-option *ngFor="let _value of field.values" [value]="_value">{{_value}}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
     </div>
    </div>
    <div *ngIf='category && category != 4'>
      <span class="title">Location</span>
      <mat-form-field floatLabel="never">
        <input matInput
              ngModel
              placeholder="Type location"
              name="location">
      </mat-form-field>
    </div>
    <div *ngIf='category !=4'>
      <span class="title">Dates</span>
      <mat-form-field floatLabel="never">
        <input matInput
               ngModel
               [satDatepicker]="picker"
               readonly
               name="dates"
               placeholder="Choose dates →"
               [min]="minDate">
        <sat-datepicker #picker touchUi [rangeMode]="true" [closeAfterSelection]="false"></sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
      </mat-form-field>
    </div>
    <button orange *ngIf='category' [disabled]="!category">Search</button>
  </form>
</mat-card>

<div *ngFor="let cat of assets">
  <page-header title="Popular {{cat.name}}s">
    <button (click)="search({}, cat.id)">See all</button>
  </page-header>
  <ul>
    <li *ngFor="let asset of cat.data">
      <asset-item small [asset]="asset" [ismainpage]="true" [routerLink]="'/asset/' + asset.id"></asset-item>
    </li>
  </ul>
</div>

<div class="message" *ngIf="!assets.length && !loading">
  No assets
</div>

<h2 *ngIf="loading">Loading...</h2>
