:host {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 100%;
  justify-content: space-between;
}

li {
  flex: 1 1 30%;
}

li:not(:first-child) {
  margin-left: 5px;
}

asset-item {
  margin: 10px 0 20px 5px;
  width: auto !important;
}

button {
  font-size: 10px;
  outline: none;
  flex: 0 0 auto;
}

small {
  text-align: center;
  margin: 100px 10px 0px 0px;
  display: block;
  color:#5E5E5E;
}

mat-tab-group >>> .mat-tab-body-wrapper > mat-tab-body >>> .mat-tab-body-content {
  height: auto;
  max-height: 100%;
  overflow: auto;
}

.title {
  color: var(--blue-dark);
  font-size: 12px;
  display: block;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price > * {
  max-width: 100px;
}

.filter {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--orange);
}

.filter > * {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  overflow: hidden;
}

mat-card {
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  overflow: hidden;
}

mat-card section {
  display: flex;
  flex-wrap: wrap;
}

.title {
  color: #003B61;
  font-family: ProximaNova-Semibold;
}

.category {
  position: relative;
  margin: .6em;
  overflow: hidden;
}

.category > label {
  user-select: none;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 5px;
  color: #95989A;
  cursor: pointer;
  width: 7em;
  height: 7em;
}

.category mat-icon {
  height: 3em;
  margin-bottom: 1em;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: #003B61;
  font-weight: bold;
}

.strip {
  position: absolute;
  font-size: 7px;
  letter-spacing: 0.5px;
  padding: 2px;
  background: linear-gradient(135deg, #fe8e0f 0%, #ff3f1e 100%);;
  color: white;
  transform: rotateZ(45deg);
  width: 40px;
  text-align: center;
  right: -10px;
  top: 5px;
  text-transform: uppercase;
}

[disabled] {
  cursor: not-allowed;
}

form {
  flex-direction: column;
  display: flex;
}

form > section {
  margin: 10px 0;
}

form > mat-form-field {
  margin-right: 20px;
}

form > button {
  align-self: center;
}
