<section *ngIf="asset && !loading">
  <page-header title='{{asset.title}}'>
    <button blue style="font-size: 10px" routerLink="/create/asset" [queryParams]="{edit:asset.id, draft: draft}" *ngIf="authorized && owner.address == user.address && !asset.pending">Edit</button>
  </page-header>

  <div *ngIf="asset.category != 4">
    <span class="location">
      <mat-icon svgIcon="pin"></mat-icon>
      {{asset.location}}
    </span>
    <section class="info">
      <span>
        <b>{{asset.price}} W</b> / {{asset.per}}
      </span>
      <!-- <span>
        <mat-icon svgIcon="star"></mat-icon>
        70%
      </span> -->
    </section>
  
    <img *ngIf="image" [src]="image"/>
    <mat-card *ngIf="!image" class="placeholder">
      <mat-icon svgIcon="placeholder"></mat-icon>
    </mat-card>
  </div>
  <mat-card class="owner" *ngIf="draft && !asset.pending">
    <span class="message"><b>Caution:</b> you're viewing draft now</span>
    <button *ngIf="owner?.address == user?.address" orange (click)="publish()" [disabled]="!userPublished">Publish</button>
    <small *ngIf="!userPublished && owner?.address == user?.address">You can't publish asset, because your profile is not published yet!</small>
  </mat-card>

  <mat-card class="owner" *ngIf="draft && asset.pending">
    <span class="message">Publishing in progress...</span>
  </mat-card>

  <mat-card class="ownerresume owner" *ngIf="!draft && owner">
    <div class="avatar">
      <img [src]="owner.photo || avatar">
    </div>
    <section *ngIf="asset.category != 4">
      <span>Owner:</span>&nbsp;
      <span class="title">{{ owner.firstname.value + ' ' + owner.lastname.value }}</span>
    </section>
    <section class="resume" *ngIf="asset.category == 4">
      <span class="title resume">{{ owner.firstname.value + ' ' + owner.lastname.value }}</span><br>
      <section class="info">
        <span>
          <b>{{asset.price}} W</b> / hour
        </span><br>
      </section>
      <section class="info">
        <span class="location">
          <mat-icon svgIcon="pin"></mat-icon>
          {{asset.location}}
        </span>
      </section>
      <section class="marginTop">
        <b>Category:</b>&nbsp;
        <span>{{asset.title}}</span>
      </section>
      <section class="marginTop">
        <b>Skills:</b>&nbsp;
        <span *ngIf="extras">
            <ng-container *ngFor="let item of extras" >
              <span *ngIf="asset.extras[item].value">{{ asset.extras[item].title }}</span><aside *ngIf="asset.extras[item].value" class='comma'></aside>
            </ng-container>
        </span>
      </section>
    </section>

    <span class="message" *ngIf="!userPublished && authorized">
       You need to <a routerLink="/profile">publish your profile</a> to blockchain to request a deal
    </span>

    <span class="message" *ngIf="!authorized">
       You need to <a routerLink="/auth/signin">sign in</a> to request a deal
    </span>

    <button orange style="font-size: 12px; margin-top: 1rem;" (click)="showMsg = true" *ngIf="!showMsg && !requested && userPublished">{{asset.category != 4? 'Request a rental' : 'Hire'}}</button>

    <form *ngIf="showMsg && !requested" class="msgData" #form="ngForm" (submit)="createDeal(form.value)">
      <mat-form-field>
        <textarea matInput required ngModel placeholder="Message" name="message"></textarea>
      </mat-form-field>
      <div>
        <mat-form-field floatLabel="never" style="flex: 1">
          <input matInput
                 [satDatepicker]="picker"
                 readonly
                 placeholder="Choose dates →"
                 ngModel
                 required
                 name="dates"
                 [min]="minDate">
          <sat-datepicker #picker touchUi [rangeMode]="true" [closeAfterSelection]="false"></sat-datepicker>
          <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
        </mat-form-field>
        <button orange circle matSuffix [disabled]="form.invalid">
          <mat-icon svgIcon="arrow"></mat-icon>
        </button>
      </div>
    </form>
  </mat-card>

  <mat-card>
    <span class="title">{{asset.category == 4? 'About' : 'Description'}}</span>
    <p>{{asset.desc}}</p>
  </mat-card>

  <mat-card *ngIf="asset.category != 4">
    <span class="title">Extras</span>
    <ul *ngIf="extras">
      <li *ngFor="let item of extras">
        <span *ngIf="asset.extras[item].value" class="title">{{ asset.extras[item].title }}</span>
        <span *ngIf="asset.extras[item].value">{{ asset.extras[item].value }}</span>
      </li>
    </ul>
  </mat-card>
  <!-- <pre>{{asset | json}}</pre> -->
</section>
<h2 *ngIf="loading">{{status}}</h2>

