:host {
  overflow-y: auto;
  overflow-x: hidden;
}

page-header {
  margin-bottom: 0;
}

.info {
  color: #95989A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 15px 0 0;
}

.info > span {
  display: flex;
  align-items: center;
}

.info span b, .info span mat-icon {
  font-family: ProximaNova-Semibold;
  color: #FF6600;
}

.info span mat-icon {
  height: 10px;
  width: 15px;
  top: -4px;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


mat-card {
  padding: 10px;
  margin-top: 10px;
}

mat-card:last-child {
  margin-bottom: 20px;
}

.owner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ownerresume{
  align-items:end;
}

.owner > section {
  display: flex;
  flex: 1;
  margin: 0 10px;
  flex-wrap: wrap;
}

.ownerresume > section {
  display: unset;
}

.title {
  color: #003B61;
  font-weight: 500;
}

.owner > button {
  margin: 0 10px;
}

.msgData {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.msgData > div {
  display: flex;
  align-items: center;
}

button[circle] {
  padding: 0;
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
}

button[circle] > mat-icon {
  height: 1em;
}

.placeholder {
  background: gainsboro;
  display: flex;
  height: 200px;
}

.placeholder > mat-icon {
  margin: auto;
  height: 100px;
  width: 100px;
  color: #afafaf;
}

.message {
  padding: 0.7em;
}

.message > b {
  color: #ff6600;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.ownerresume .avatar {
  height: 60px;
  width: 60px;
}

.avatar > img {
  margin: 0;
  height: 100%;
  width: 100%;
}

small {
  color: gray;
  padding: .7rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

li > .title {
  margin-right: 10px;
  color: #95989A;
  font-weight: normal;
}

.title.resume{
  font-size: 1.3em;
}

form {
  width: 100%;
}

.location {
  font-size: 12px;
  color: #a1a3a5;
}

.location > mat-icon {
  height: 1em;
  width: 1em;
}
.comma {
    display: initial !important;
}
.comma:not(:last-of-type):after {
  content: ", ";
}
.comma:nth-last-of-type(2):before {
  content: none;
}
.comma:nth-last-of-type(2):after {
  content: " and ";
}
.bold{
  font-weight: 500;
}
.marginTop{
  margin-top: 0.6em;
}