@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~nouislider/distribute/nouislider.min.css";
@import "~saturn-datepicker/bundle.css";

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('/assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('/assets/fonts/ProximaNova-Bold.woff') format('woff'), url('/assets/fonts/ProximaNova-Bold.ttf')  format('truetype'), url('/assets/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('/assets/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('/assets/fonts/ProximaNova-Semibold.woff') format('woff'), url('/assets/fonts/ProximaNova-Semibold.ttf')  format('truetype'), url('/assets/fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('/assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('/assets/fonts/ProximaNova-Regular.woff') format('woff'), url('/assets/fonts/ProximaNova-Regular.ttf')  format('truetype'), url('/assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --screen-width: 1111px;
	--margin: 40px;

	--blue-dark: #004467;
	--blue-light: #00828f;

	--orange: #ff491c;
	--orange-dark: #ff3f1e;
	--orange-light: #fe8e0f;

	--black: #3a3a3a;

	--gray: #f5f4f4;
	--light-gray: #fcfbfb;
}

html {
  font-family: 'ProximaNova-Regular';
  font-size: 14px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
.mat-drawer-backdrop.mat-drawer-shown {
    background-color: #dadadad9;
}

.mat-tab-label {
  padding: .5em !important;
  height: auto !important;
  font-size: 12px;
  font-family: ProximaNova-Regular;
  min-width: auto !important;
}

.mat-tab-label:first-child {
  padding-left: 0 !important;
}

.mat-ink-bar {
  background-color: #FF5814 !important;
}

.mat-tab-header {
  border: none;
}

.mat-tab-label-active {
  color: #003B61;
}

a {
  color: #FF5814;
	cursor: pointer;
}


button, .button {
  display: flex;
  align-items: center;
  padding: 0.7em 1.4em;
  background: #CBCCCD;
  color: #6F7070;
  border-radius: 3.5em;
  border: navajowhite;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: .7em;
  letter-spacing: 0.5px;
  cursor: pointer;
}

button[orange], .button[orange] {
  background: #ff491c;
  background: linear-gradient(135deg, #fe8e0f 0%, #ff3f1e 100%);
  color: white;
}

button[blue], .button[blue] {
  background: #004467;
  background: linear-gradient(135deg, #00828f 0%, #004467 100%);
  color: white;
}

[copy] {
  margin: 0 !important;
  opacity: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #ff3f1e;
}

.mat-form-field-ripple {
  background-color: #ff491c !important;
}

mat-card {
  border-radius: 4px !important;
}

mat-sidenav {
  max-width: 270px;
}

mat-sidenav-content > *:not(.static) {
  max-width: calc(100% - 35px);
  min-width: calc(100% - 35px);
  min-height: calc(100% - 60px);
  margin-left: 35px;
  margin-bottom: 40px;
}

mat-sidenav-content {
  background: url('/assets/arts/bg.svg');
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
}

router-outlet {
  display: none;
}

.noUi-target {
  border: none;
  box-shadow: none;
  height: 2px;
  background: #dcdcdc;
}

.noUi-handle {
  border: none;
  box-shadow: none;
  border-radius: 50%;
  background: var(--orange);
  cursor: pointer;
  outline: 0;
}

.noUi-horizontal .noUi-handle {
  height: 14px;
  width: 14px;
  top: -7px;
}

.noUi-handle:after,.noUi-handle:before {
  display: none;
}

.noUi-connect {
  background: var(--orange-dark)
}

.noUi-tooltip {
  border: none;
  padding: 0;
  font-size: 12px;
  font-family: ProximaNova-Semibold;
  color: var(--blue-dark);
}

nouislider {
  padding-bottom: 5px;
  padding-top: 20px;
}

html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -7px;
}

@media only screen and (max-width: 600px) {
  .border {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) {
  mat-sidenav-container {
    width: 295px;
    height: 590px;
    margin: auto;
    border-radius: 17px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  body {
    background: rgb(0, 68, 103);
  	background: linear-gradient(176deg, rgb(0, 68, 103) 0%, rgb(0, 109, 129) 100%);
  	background-attachment: fixed;
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
  }

  mat-calendar, .mat-calendar {
    width: 295px !important;
    height: fit-content !important;
  }
}

[disabled] {
  opacity: .6;
  cursor: not-allowed !important;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  font-size: 16px;
}
